NEXT_PUBLIC_SUPABASE_URL=https://esjefalbuzonqbocshlr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzamVmYWxidXpvbnFib2NzaGxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzNDc2NTEsImV4cCI6MjA4NDkyMzY1MX0.C6k1l3SP12DR6kq5zvlacZ0tGe1IwloLVcY0IM5vVPU
NEXT_PUBLIC_API_URL=http://localhost:5000/api
